<button ng-click="toListView()">List View</button>
<button ng-click=toHome()>Home</button>
<h1>Let's Create</h1>
<form action="" ng-submit="magic(newb.title, newb.author, newb.content)" ng-hide="poop">
  <input type="text" placeholder="Post Title" ng-model="newb.title">
  <input type="text" placeholder="author" ng-model="newb.author">
  <label for="box"> Content
    <textarea name="box" rows="10" cols="60" value="Begin..." ng-model="newb.content">Begin Typing...</textarea>
  </label>
  <button ng-click= "poop = !poop">Preview</button>
  <input type="submit">
</form>

<div id="preview" ng-hide="!poop">
  <span><a href="">{{newb.title}}</a></span> by <span style="color: darkgrey">{{newb.author}}</span>
  <p>{{newb.content}}</p>
  <div style="text-align: right"><button class="button alert" ng-click="poop = !poop"><a href="">Edit</a></button></div>
</div>
