<button ng-click=toHome()>Home</button>
<button ng-click=createPost()>Create Post</button>
<ul id="theList">
  <li ng-repeat="post in posts" ng-class-odd="'odd'" ng-class-even="'even'">
    <span><a href="">{{post.title}}</a></span> by <span style="color: darkgrey">{{post.author}}</span>
    <p ng-hide="poop" >{{post.content}}</p>
    <div ng-hide="poop"><button class="button alert" ng-click="poop = !poop"><a href="">Edit</a></button></div>
    <form ng-hide="!poop" action="">
      <label for="box"> Content
        <textarea name="box" rows="10" cols="60" value="post.content" ng-model="post.content"></textarea>
      </label>
      <input type="submit" ng-click="poop = !poop">
    </form>
  </li>
</ul>
